<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Skillastic - Find talents" %></title>
    <%= render "layouts/head" %>
  </head>
  <body>

  <div class="ui container">
    <%= render "layouts/messages"   %>
    <%= yield %>
  </div>

  </body>
</html>
